<div class="main-wrapper">
  <section class="section">
    <div class="section-header">
      <h1>Family Info</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="card-body col-12 row">
                <div class="form-group col-md-4 col-lg-4">
                  <label>First Name</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="first_name"
                    [ngClass]="{
                      'is-invalid':
                        formControls.first_name.errors &&
                        (formControls.first_name.dirty ||
                          formControls.first_name.touched)
                    }"
                  />
                  <div
                    *ngFor="let validation of validation_message.first_name"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        myForm.get('first_name').hasError(validation.type) &&
                        (myForm.get('first_name').dirty ||
                          myForm.get('first_name').touched)
                      "
                    >
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4 col-lg-4">
                  <label>Middle Name</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="middle_name"
                  />
                </div>
                <div class="form-group col-md-4 col-lg-4">
                  <label>Last Name</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="last_name"
                  />
                </div>
                <div class="form-group col-md-4 col-lg-4">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        formControls.email.errors &&
                        (formControls.email.dirty || formControls.email.touched)
                    }"
                  />
                  <div
                    *ngFor="let validation of validation_message.email"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        myForm.get('email').hasError(validation.type) &&
                        (myForm.get('email').dirty ||
                          myForm.get('email').touched)
                      "
                    >
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4 col-lg-4">
                  <label>Phone No</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="phone_no"
                    [ngClass]="{
                      'is-invalid':
                        formControls.phone_no.errors &&
                        (formControls.phone_no.dirty ||
                          formControls.phone_no.touched)
                    }"
                    maxlength="10"
                  />
                  <div
                    *ngFor="let validation of validation_message.phone_no"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        myForm.get('phone_no').hasError(validation.type) &&
                        (myForm.get('phone_no').dirty ||
                          myForm.get('phone_no').touched)
                      "
                    >
                      {{ validation.message }}
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>WhatsApp No</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="whatsapp_no"
                    maxlength="10"
                  />
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Gender</label>
                  <select class="form-control" formControlName="gender">
                    <option value="MALE" selected>Male</option>
                    <option value="FEMALE">Female</option>
                    <option value="OTHER">Other</option>
                  </select>
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Nationality</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="nationality"
                  />
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>DOB</label>
                  <input
                    type="date"
                    class="form-control currency"
                    formControlName="dob"
                  />
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Marital Status</label>
                  <select class="form-control" formControlName="martial_status">
                    <option value="UNMARRIED" selected>Unmarried</option>
                    <option value="MARRIED">Married</option>
                    <option value="DIVORCED">Divorced</option>
                    <option value="WIDOWED">Widowed</option>
                  </select>
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Bank Name</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="bank_name"
                  />
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Bank Account No</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="bank_accountno"
                  />
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Bank IBAN</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="bank_iban"
                  />
                </div>

                <div class="form-group col-md-4 col-lg-4">
                  <label>Swift Account No</label>
                  <input
                    type="text"
                    class="form-control currency"
                    formControlName="swift_number"
                  />
                </div>
                <div class="form-group col-md-12 col-lg-12">
                  <label>Notes</label>
                  <textarea
                    type="text"
                    class="form-control"
                    formControlName="notes"
                  ></textarea>
                </div>
              </div>
              <hr />
              <div class="card-body col-12 col-sm-12 col-lg-12 col-md-12">
                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab5"
                      data-toggle="tab"
                      href="#education"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                    >
                      <i class="fas fa-user-graduate"></i> Education Details</a
                    >
                  </li>
                </ul>
                <div
                  class="tab-pane fade show active"
                  id="education"
                  role="tabpanel"
                  aria-labelledby="contact-tab5"
                >
                  <table
                    class="table table-bordered"
                    formArrayName="educationdata"
                  >
                    <tr>
                      <th colspan="7">Add More Data:</th>
                      <th width="150px">
                        <button
                          type="button"
                          (click)="addeducationdata()"
                          class="btn btn-primary"
                        >
                          Add More
                        </button>
                      </th>
                    </tr>
                    <tr
                      *ngFor="let f of educationdata().controls; let i = index"
                      [formGroupName]="i"
                    >
                      <td>
                        School/College Name :
                        <input
                          type="text"
                          formControlName="schoolName"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              educationcon(i).controls['schoolName'].errors &&
                              (educationcon(i).controls['schoolName'].dirty ||
                                educationcon(i).controls['schoolName'].touched)
                          }"
                        />
                        <div
                          *ngFor="
                            let validation of validation_edumessage.schoolName
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              educationcon(i).controls['schoolName'].hasError(
                                validation.type
                              ) &&
                              (educationcon(i).controls['schoolName'].dirty ||
                                educationcon(i).controls['schoolName'].touched)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </td>
                      <td>
                        Degree:
                        <select
                          formControlName="degree"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              educationcon(i).controls['degree'].errors &&
                              (educationcon(i).controls['degree'].dirty ||
                                educationcon(i).controls['degree'].touched)
                          }"
                        >
                          <option value="">Select Degree</option>
                          <option value="SCHOOL">School Degree</option>
                          <option value="COLLEGE">Some College</option>
                          <option value="BACHELOR">Bachelor Degree</option>
                          <option value="MASTER">Master Degree</option>
                          <option value="PHD">PhD Degree</option>
                        </select>

                        <div
                          *ngFor="
                            let validation of validation_edumessage.degree
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              educationcon(i).controls['degree'].hasError(
                                validation.type
                              ) &&
                              (educationcon(i).controls['degree'].dirty ||
                                educationcon(i).controls['degree'].touched)
                            "
                          >
                            {{ validation.message }}
                          </div>
                        </div>
                      </td>
                      <td>
                        Field Of Study:
                        <input
                          class="form-control"
                          type="text"
                          formControlName="fieldofstudy"
                        />
                      </td>
                      <td>
                        Start Date:
                        <input
                          class="form-control"
                          type="date"
                          formControlName="startDt"
                        />
                      </td>
                      <td>
                        End Date:
                        <input
                          class="form-control"
                          type="date"
                          formControlName="endDt"
                        />
                      </td>
                      <td>
                        Grade:
                        <input
                          class="form-control"
                          type="text"
                          formControlName="grade"
                        />
                      </td>
                      <td>
                        Notes:
                        <textarea
                          class="form-control"
                          formControlName="notes"
                        ></textarea>
                      </td>

                      <td>
                        <button
                          (click)="removeeducationdata(i)"
                          class="btn btn-danger"
                        >
                          Remove
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <hr />
              <div class="form-group text-right col-2">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg btn-block"
                  tabindex="4"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
